<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginMapper">
	
	
<!-- 	<insert id="insertUser" parameterType="com.movie.mymovie.dto.UserDto">
		insert into MEMBER ()
 		values(#{MEMBER_id},#{MEMBER_nick},#{MEMBER_pwd},#{MEMBER_email},#{MEMBER_email2},#{MEMBER_pic})
 		INSERT INTO board(board_id, user_id, board_writer, board_title, board_content, read_cnt, reg_date) 
 	</insert> -->
	
	<!-- 로그인 -->
	<select id = "islogin" resultType = "com.movie.mymovie.dto.UserDto"  parameterType = "java.util.HashMap">
		SELECT MEMBER_ID, MEMBER_PWD FROM MEMBER WHERE MEMBER_ID = #{member_id} AND MEMBER_PWD = #{member_pwd}
	</select>
	
	<!-- 회원가입 -->
	<insert id = "register" parameterType = "com.movie.mymovie.dto.UserDto" >
		INSERT INTO MEMBER(MEMBER_ID, MEMBER_PWD, MEMBER_NICK, MEMBER_EMAIL, MEMBER_EMAIL2)
		VALUES (#{member_id}, #{member_pwd}, #{member_nick}, #{member_email}, #{member_email2})
	</insert>
	
	<!-- 패스워드 체크 -->
<!-- 	<select id = "passChk" resultType = "int"> -->
<!-- 		SELECT COUNT(*) FROM MEMBER -->
<!-- 		WHERE MEMBER_ID = #{member_id} -->
<!-- 		AND MEMBER_PWD = #{member_pwd} -->
<!-- 	</select> -->
	<!-- 아이디 찾기 -->
<!-- 	<select id = "findId" resultType = "com.movie.mymovie.dto.UserDto"  parameterType = "java.util.HashMap"> -->
<!-- 		SELECT MEMBER_ID FROM MEMBER -->
<!-- 		WHERE MEMBER_EMAIL = #{member_email} AND MEMBER_EMAIL2 = #{member_email2} -->
<!-- 	</select> -->
	
<!-- 	<select id = "findPwd" resultType = "com.movie.mymovie.dto.UserDto"  parameterType = "java.util.HashMap"> -->
<!-- 		SELECT MEMBER_PWD FROM MEMBER -->
<!-- 		WHERE MEMBER_ID = #{member_id} AND MEMBER_EMAIL = #{member_email} AND MEMBER_EMAIL2 = #{member_email2} -->
<!-- 	</select> -->
	<select id="findId" resultType="com.movie.mymovie.dto.UserDto"> 
		SELECT member_id from member WHERE member_email=#{member_email} 
		and member_email2=#{member_email2} 
	</select> 
	
	<select id="findPwd" resultType="String"> 
		SELECT member_pwd from member WHERE id=#{member_id} 
		and member_email=#{member_email} and member_email2=#{member_email2} 
	</select>

	<!-- 아이디 중복 체크 -->
	<select id = "idChk" resultType = "int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id = "nickChk" resultType = "int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_NICK = #{member_nick}
	</select>
	
	
<!-- 	<select id="getMemberById" parameterType="String" resultType="com.movie.mymovie.dto.UserDto"> -->
<!-- 		select * from MEMBER where MEMBER_id=#{MEMBER_id} -->
<!-- 	</select> -->
	
<!-- 	<select id="getMemberByEmail" parameterType="String" resultType="com.movie.mymovie.dto.UserDto"> -->
<!-- 		select * from MEMBER where MEMBER_email=#{MEMBER_email} and -->
<!-- 		MEMBER_email2=#{MEMBER_email2} -->
<!-- 	</select> -->
	
<!-- 	<insert id="insertUser" parameterType="MpuserVO"> -->
<!-- 		INSERT INTO MEMBER(MEMBER_ID, MEMBER_PWD, MEMBER_NICK, MEMBER_EMAIL, MEMBER_EMAIL2, MEMBER_PIC) -->
<!-- 		VALUES (#{member_id}, ${member_pwd}, #{member_nick}, #{member_email}, #{member_email2}, #{member_pic}) -->
<!-- 	</insert> -->
	
	<!-- 로그인 -->
<!-- 	<select id="login" parameterType="String" resultType="com.movie.mymovie.dto.UserDto"> -->
<!-- 		select * from member where MEMBER_id = #{MEMBER_id} -->
<!-- 	</select> -->
<!-- 	<update id="userModifie" parameterType="UserDto"> -->
<!-- 		update place -->
<!-- 		<set> -->
<!-- 			<if test="user_pwd != null">user_pwd = ${user_pwd},</if> -->
<!-- 			<if test="user_email2 != null">user_email2 = ${user_email2},</if> -->
<!-- 			<if test="user_email2 != null">user_email2 = ${user_email2}</if> -->
<!-- 		</set> -->
<!-- 		where user_id=#{user_id} -->
<!-- 	</update> -->
</mapper>