<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Movie1Mapper">
<select id="selectPlaceByMovie" resultType="com.movie.mymovie.dto.TheaterDto" parameterType="String">
	 SELECT THEATER_ADDR
	 FROM THEATER, TIMETABLE
	 WHERE TIMETABLE.MOVIE_ID=#{movie_id} AND TIMETABLE.THEATER_ID=THEATER.THEATER_ID
	</select>


<select id="selectTheaterByAddr" resultType="com.movie.mymovie.dto.TheaterDto" parameterType="String">
	
	SELECT THEATER_ID, THEATER_NAME, THEATER_ADDR
	FROM THEATER
	WHERE THEATER_ADDR=#{theater_addr}
	
	</select>
<select id="selectDateByTheaterAndMovie" resultType="com.movie.mymovie.dto.TimeTableDto" parameterType="java.util.HashMap">
	
	SELECT DISTINCT  THEATER_ID, MOVIE_ID, TO_CHAR(MOVIE_DATETIME, 'yyyymmdd') AS MOVIE_DATETIME
	FROM TIMETABLE
	WHERE THEATER_ID =#{theater_id} AND MOVIE_ID=#{movie_id}
		
	</select>
	
	<select id="selectTimeByDate" resultType="com.movie.mymovie.dto.TimeTableDto" parameterType="java.util.HashMap">
		SELECT THEATER_ID, MOVIE_ID, TIMETABLE_ID, TO_CHAR(MOVIE_DATETIME, 'hh24:mi') AS MOVIE_DATETIME
		FROM TIMETABLE
		WHERE TO_CHAR(MOVIE_DATETIME,'YYYYMMDD') = #{movie_dateTime}
	</select>
	
	<select id="returnSeatList" resultType="java.util.Map" parameterType="java.util.HashMap">

		SELECT MAX(SCRHALL_SEATROW) AS SEATROW, MAX(SCRHALL_SEATCOL) AS SEATCOL, MAX(SCRHALL_ID) SCRHALL_ID
		FROM SCREENHALL
		WHERE THEATER_ID=#{theater_id} AND SCRHALL_ID=(SELECT SCRHALL_ID
                                   			FROM TIMETABLE
                                    		WHERE TIMETABLE_ID=#{timetable_id}
		)
	</select>
	
	<select id="returnReservationList" resultType="java.util.Map" parameterType="java.util.HashMap">
			SELECT SCRHALLSEAT_ID
		FROM RESERVATION
		WHERE THEATER_ID=#{theater_id} AND TIMETABLE_ID=#{timetable_id}
		ORDER BY SCRHALLSEAT_ID ASC
	</select>
	<insert id="insertReservation" parameterType="java.util.HashMap">
	INSERT INTO RESERVATION (RESERV_ID, THEATER_ID, SCRHALL_ID, MEMBER_ID, TIMETABLE_ID, PAY_PLAN, SCRHALLSEAT_ID, RESERV_DATE)
	VALUES (RESERV_ID_SEQ.NEXTVAL, #{theater_id}, #{scrhall_id}, #{member_id}, #{timetable_id}, #{payPlan}, #{scrhallSeat_id}, SYSDATE)
	</insert>
	
	<select id="checkReserved" resultType="java.lang.Object" parameterType="java.util.HashMap">
	SELECT RESERV_ID 
	FROM RESERVATION
	WHERE TIMETABLE_ID=#{timetable_id} AND SCRHALLSEAT_ID=#{scrhallSeat_id}
	</select>
	
	<select id="confirmInfo" resultType="java.util.Map" parameterType="java.util.HashMap">
	SELECT THEATER.THEATER_NAME, SCRHALL_ID, TIMETABLE.MOVIE_DATETIME,MOVIE_TITLE
	FROM   TIMETABLE, THEATER, MOVIE
	WHERE TIMETABLE.TIMETABLE_ID=#{timetable_id} AND THEATER.THEATER_ID=TIMETABLE.THEATER_ID
	</select>	
</mapper>