<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">

	<!-- 마이페이지 회원 정보 조회 -->
	<select id="UserAllList"
		resultType="com.movie.mymovie.dto.UserDto">
		SELECT MEMBER_ID,
		MEMBER_NICK,
		MEMBER_PWD,
		MEMBER_EMAIL,
		MEMBER_EMAIL2,
		MEMBER_PIC
		FROM MEMBER
		WHERE MEMBER_ID=#{member_id}
		ORDER
		BY MEMBER_ID ASC
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateUserList">
		UPDATE MEMBER SET
		MEMBER_PWD = #{member_pwd}
		,
		MEMBER_NICK = #{member_nick}
		, MEMBER_EMAIL =
		#{member_email}
		WHERE
		MEMBER_ID=#{member_id}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="deleteUserList" parameterType="java.lang.String">
		DELETE FROM member
		WHERE
		member_id = #{member_id}

	</delete>
</mapper>